.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  min-width: 678px;
}

a {
  color: #4989b0;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.piazza-logo {
  display: flex;
  padding: 30px;
  height: 120px;
  align-self: center;
  margin: 30px;
}
.piazza-logo img {
  height: 100%;
}
