body {
  margin: 0px;
  padding: 0px;
}

.MuiTypography-root {
  color: #0C3C26; 
}


/* Profile */
.profileHeader {
  background-color: #3A73A1;
  padding: 1rem;
}

.profileNav {
  display: flex;
  justify-content: flex-end;
}

.profile-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.profile-nav-item {
  margin-right: 20px;
}

.profile-nav-link {
  color: white;
  text-decoration: none;
  font-family: "Papyrus", "Brush Script MT", "Lucida Handwriting", "Arial";
  font-size: 1.2rem;
  font-style: bold;
  transition: color 0.3s;
}

.profile-nav-link:hover {
  color: #47acff; /* Change the hover color */
}