@import "tailwindcss";

body {
  margin: 0px;
  padding: 0px;
}

.MuiTypography-root {
  color: #0C3C26; 
}


/* Profile */
.profileHeader {
  background-color: #3A73A1;
  padding: 1rem;
}

.profileNav {
  display: flex;
  justify-content: flex-end;
}

.profile-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.profile-nav-item {
  margin-right: 20px;
}

.profile-nav-link {
  color: white;
  text-decoration: none;
  font-family: "Papyrus", "Brush Script MT", "Lucida Handwriting", "Arial";
  font-size: 1.2rem;
  font-style: bold;
  transition: color 0.3s;
}

.profile-nav-link:hover {
  color: #47acff;
}

.profileBody {
  padding: 1rem;
}

.profileContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  gap: 30px;
}

.profile-picture{
  max-width: 100%;
  width: 300px;
  height: auto;
  border-radius: 5%;
  border-width: 5px;
}

.profile-info-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2rem;
  font-weight: bold;
}

.courses-section{
  width: 410px;
  height: 683px;
  background-color: #9fbdd7;
  border-color: #3a73a1;
  border-width: 6px;
  border-radius: 11px;
}
.courses-title{
  border-radius: 50px;
  background-color: #3a73a1;
  width: 350px;
  height: 102px;
  font-family: fantasy;
  font-size: 40.8px;
  color: white;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: bold;
}

.courses-active{
  font-family: fantasy;
  font-size: 24.8;
  color: black;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-style: bold;
}